.add-room {
    margin-top: 20px;
}
.card-room {
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
}
.img-room {
    width: 150px;
    height: 150px;
}
.content {
    margin: auto 25px;
}
.bold {
    font-weight: 600;
}
.btn-click {
    margin: auto;
    span {
        margin-left: 3px;
    }
}
.wrapper-student {
    min-height: 55px;
}
.avatar {
    width: 45px;
    height: 45px;
}
