.create-news {
    margin: 25px 0;
}
.card-news {
    margin: 25px 0;
    border: 1px solid #ccc;
}
.image {
    width: 100px;
    height: 100px;
}
.content {
    margin: auto 15px;
}
.btn-click {
    margin: auto;
}
.bold {
    font-weight: 600;
}
