.banner {
    height: 150px;
    background-color: #f9f9f9;
}
.title {
    justify-content: center;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
}
.image {
    height: 350px;
    margin-top: 25px;
    width: 90%;
}
.content {
    margin-top: 25px;
    margin-right: 40px;
    font-size: 1.8rem;
    div {
        margin: 10px 0;
    }
    span {
        margin-left: 5px;
    }
}
.bold {
    font-weight: 600;
}
.name-room {
    font-size: 1.9rem;
}
