.wrapper {
    margin-top: 15px;
}
.m-bottom {
    margin-bottom: 15px;
}
.title {
    height: 45px;
    background-color: rgb(49, 52, 50);
    color: #fff;
    padding: 0 15px;
}
.items {
    padding: 15px 0;
    border: 1px solid #ccc;
    background-color: #f9f6f6;
    span {
        padding: 0 10px;
    }
}
.error-input {
    border: 1px solid red !important;
}
