.wrapper {
    margin: 35px;
}
.card-item {
    border: 1px solid #ccc;
    margin: 0 15px 30px 15px;

    &:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
}
.content {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.title-news {
    font-size: 1.7rem;
}
.calender {
    font-size: 1.4rem;
}
.about {
    margin: 100px 0;
    background: #f6f6f6;
    border-top: 1px solid #ccc;
    padding: 25px;
}
.title-about {
    font-size: 25px;
}
.content-about {
}
.img-about {
    width: 100%;
}
